<div id="<%= dom_id settlement %>">
  <p>
    <strong>Type:</strong>
    <%= settlement.type %>
  </p>

  <p>
    <strong>External reference:</strong>
    <%= settlement.external_reference %>
  </p>

  <p>
    <strong>External amount:</strong>
    <%= settlement.external_amount %>
  </p>

</div>
